@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000;
    background-image: url(https://media.discordapp.net/attachments/989163014957727774/1082288259977199626/IMG_0326.jpg);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: top;
}

h1{
    color: var(--text-color);
}

.main_div{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.divford{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fprow{
    color: #DADADA;
}

.links{
    color: white;
    text-decoration:none;
}

.links:hover{
    color: #6c85b6;
    text-decoration: underline;
}

